{% extends "flack/layout.html" %}

{% block title %} <title> log in</title> {% endblock %}
{% block script %} 

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

<style>
   #usernames {
      display: none;
    }
</style>

{% endblock %}
{% block body %}

    <body>

      <section id="container">
        <div class="channels">
          <ul id="addchannel">
            <li> <a href="" id="channel" data-channel="create"> Create channel</a>
              <div id="all" class="create">
                <input type="text" id="nameChannel" placeholder="Inter name of the the channel">
                <button id="channelsub">Create</button>
              </div>
            </li>
  
              <li> <a href="" id="channel" data-channel="general"> General</a>
                <ul id="all" class="general"> 
                </ul>
              </li>

              <li> <a href="" id="channel" data-channel="news"> News</a>
                <ul id="all" class="news"> 
                </ul>
              </li>
          </ul>
          <ul class="add">
        </div>
        <div id="div">
         <input type="text" id="text">
         <button id="button">Send</button>
        
        </div>
      </section>
      

</body>

{% endblock %}